<a href="/companies"> Company Index </a><a href="/snowboards"> Snowboard Index </a>
<h1> <%= @company.name %> </h1>
<% @snowboards.each do |snowboard| %>
<div id="board-<%= snowboard.id %>">
  <h3><%= snowboard.name %></h3>
  <p>Rips in pow? <%= snowboard.powder_board %></p>
  <p>Length <%= snowboard.length %></p>
  <a href="/snowboards/<%= snowboard.id %>/edit"> Edit <%= snowboard.name %></a>
  <%= link_to "Delete #{snowboard.name}", "/companies/#{@company.id}/snowboards/#{snowboard.id}", method: :delete %>
</div>
<% end %>

<%= form_with url: "/companies/#{@company.id}/snowboards?sort=length", method: :get, local: true do |form| %>
  <%= form.submit "Only return records with length greater than" %>
  <%= form.text_field :length %>
<% end %>

<a href="/companies/<%= @company.id %>/snowboards/new"> New Snowboard </a>
<br><a href="/companies/<%= @company.id %>/snowboards?sort=alpha"> Alphabetize </a>
